.about-details {
    margin-top: 6em;
    display: flex;
    margin-left: var(--lg);
    margin-right: var(--lg);
}

.about-details .about-container {
    width: 100%;
    height: 300px;
}

.about-details .about-img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 400px;
    border-radius: var(--rounded-md);
}

.about-details .about-img::after {
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 300px;
    width: 300px;
    right: 5em;
    top: -2em;
}

.about-details .about-img::before {
    position: absolute;
    content: '';
    background: linear-gradient(#4e46e579, #4e46e577, #4e46e5d7, #4e46e5d7);
    z-index: 2;
    top: 0;
    width: 80%;
    height: 100%;
    border-radius: var(--rounded-md);
}

.about-details .about-img img {
    border-radius: var(--rounded-md);
    width: 80%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.about-details .about-img-details {
    color: #FFF;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 80%;
    padding: 25px;
}

.about-img-details .brand {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: x-large;
}

.about-img-details .brand svg {
    width: 2.5rem;
    height: 2.5rem;
}

.about-details .about-img-details p {
    font-size: 15px;
    margin-top: 10px;
}

.about-details
.about-container {
    flex: 1;
}

.about-details
.about-container span {
    font-size: 25px;

}

.about-details
.about-container .about {
    margin-top: 15px;
    color: #6B7280;
    font-size: 15px;
    line-height: 25px;
}

.about-details
.about-container .about
.stats-container {
    margin: auto;
}

.about-details
.about-container .about
.stats-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    margin-top: 10px;
    background: #FFF;
    padding: 5px;
    border-radius: var(--rounded-md);
    box-shadow: 0px 0px 3px #D1D5DB;
}

.about-details
.about-container .about
.stats-container .stat {
    width: 180px;
    padding: 8px;
}

.about-details
.about-container .about
.stats-container .stat span {
    font-size: 17px;
}

.about-details
.about-container .about
.stats-container .stat .stat-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.about-details
.about-container .about
.stats-container .stat .stat-details
span {
    display: flex;
    font-size: 17px;
    color: var(--color);
}

.about-details
.about-container .about
.stats-container .stat .stat-details
span > p {
    font-size: 10px;
    margin-left: 5px;
}

.about-details
.about-container .about
.stats-container .stat .stat-details
span:last-child {
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 10px;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
    background: #A7F3D0;
    color: #059669;
}

.about-details
.about-container .about
.stats-container .stat .stat-details
span:last-child svg {
    width: 0.9em;
    height: 0.9em;
}

/* => @media (min-width: 640px) { ... }

'md': '768px',
 => @media (min-width: 768px) { ... }

'lg': '1024px',
 => @media (min-width: 1024px) { ... } */

 @media (max-width: 1024px) {
    .about-details {
        display: block;
    }

    .about-details .about-img::before {
        width: 80%;
    }

    .about-details .about-img::after {
        right: 6em;
    }

    .about-details .about-img img {
        border-radius: var(--rounded-md);
        width: 80%;
    }

    .about-details
    .about-container {
        margin-top: 3em;
    }
 }

 @media (max-width: 768px) {

    .about-details .about-img::before {
        width: 100%;
    }

    .about-details .about-img::after {
        right: -2em;
    }

    .about-details .about-img img {
        border-radius: var(--rounded-md);
        width: 100%;
    }
 }

 @media (max-width: 360px) {
    .about-details .about-img {
        height: 300px;
    }
    
    .about-details .about-img::after {
        height: 200px;
        width: 70%;
    }

    .about-details .about-img-details {
        padding: 15px;
    }
 }

 @media (max-width: 360px) {
    .about-details .about-img {
        height: 260px;
    }

}


@media (max-width: 260px) {
    .about-details .about-img {
        display: none;
    }
}